style.
  body{
  padding-top:120px;
  background-color:#565656;
  }
  .working{
  color: white;
  text-shadow: 3px 3px 3px black
  }
.container.working
  center
    h2 ASE Intech 網頁資料轉置中
    h4 將在近期與您見面

script(src='https://code.jquery.com/jquery-1.11.1.min.js')
script(src='asset/javascripts/default.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')