extends container

block content
  style.
    body{
    padding-top:120px;
    }
  link(rel="stylesheet", href="/asset/stylesheets/cal.css")
  .right
    .content_body
      .setting
        .setting_send
          ul
            li.setting_send_01 1.縣市
            li
              select#a1(name='a1')
                option(value='0') 請選擇縣市
                option(value='897') 基隆市
                option(value='958') 大台北地區
                option(value='1058') 桃園縣
                option(value='1113') 新竹縣
                option(value='931') 苗栗縣
                option(value='970.9') 宜蘭縣
                option(value='1148') 連江縣
                option(value='1205') 台中市
                option(value='1324') 彰化縣
                option(value='1269') 雲林縣
                option(value='1142') 南投縣
                option(value='1231') 嘉義縣
                option(value='767') 花蓮縣
                option(value='1140') 金門縣
                option(value='1271') 澎湖縣
                option(value='1285') 台南市
                option(value='1147') 屏東縣
                option(value='969') 台東縣
                option(value='1204') 高雄市
            li.setting_send_01(style='margin-left:70px;') 2.可用屋頂坪數
            li.setting_send_02
              input#a2.ctrl-show(style='float:left;', name='a2', type='text', value='請輸入可用屋頂坪數')
              span(style='color:#60452E')  坪
          ul
            li.setting_send_01 3.模組類型
            li
              select#a3(name='a3')
                option(value='0') 請選擇模組類型
                option(value='3') 晶矽
                option(value='5') 非晶矽
                option(value='4') CIGS
            li.setting_send_01(style='margin-left:70px;') 4.系統價格
            li
              select#a4(name='a4')
                option(value='0') 系統價格
                option(value='1') 預設
                option(value='2') 自訂
            li.setting_send_03
              input#a6.form-control(name='a6' style='width:100px')
              span#a6s 元
          ul
            li.setting_send_01 5.併聯試運轉日期
            li
              select#a5(name='a5')
                option(value='0') 預計併聯試運轉時間
                option(value='1') 上半年
                option(value='2') 下半年
          ul(style='background-color:#fff;')
            li(style='float:right;')
              input#submit.btn.btn-primary.btn-md(type='button', value='試算')
        .setting_result
          ul.show
            li 根據您所輸入的資料與今年度太陽光電電能躉購費率，以下為試算：
            li
              | 可裝設容量約
              input#r1.ctrl-show
              | (kWp)
            li
              | 系統設置價格約
              input#r2.ctrl-show
              | (元)
            li
              | 預估每年發電量
              input#r3.ctrl-show
              | (度/年)
            li
              | 粗估回收年限
              input#r4.ctrl-show
              | (年)
            li
              | 預估電能躉售月收入
              input#r5.ctrl-show
              | (元/月)
            li
              | 預估電能躉售年收入
              input#r6.ctrl-show
              | (元/年)
            li
              | 預估每年CO2減量
              input#r7.ctrl-show
              | (公斤/年)
        hr
        table.table.table-bordered(style='text-align:center;')
          tr
            td(rowspan='5')
              br
              br
              br
              br
              | 上限費率
            td 分類
            td 裝置容量(kWp)
            td 2016 年度第一期
              br
              | 上限費率(元/度)
            td 2016 年度第二期
              br
              | 上限費率(元/度)
          tr
            td(rowspan='4')
              br
              br
              br
              | 屋頂型
            td ≧1~<20
            td 6.4813
            td 6.4813
          tr
            td ≧20~<100
            td 5.2127
            td 5.2127
          tr
            td ≧100~<500
            td 4.8061	
            td 4.8061	
          tr
            td ≧500
            td 4.6679	
            td 4.6679	
        br
        center
          h3.header 本試算工具使用注意事項
        br
        ol
          li
            | 本試算結果僅為參考數據，實際之系統(設備)價格仍需由設置者自行與 ASE 議定，提醒發電量、售電量收入、回收年限等數據，
            | 仍與個案設置方式有關，相關細節請設置者與 ASE 討論。
          li
            | 太陽光發電系統(設備)的安裝費用因系統之容量大小、材料選用、施工方式、安裝現場特殊性(如額外的引接線費用)等而有差異性。
          li
            | 本試算工具仍以平屋頂設置方式估算。因太陽光發電系統設置平屋頂時，須考量女兒牆，屋凸或水塔等可能造成模組受遮陰，
            | 或者前後排模組受遮陰之狀況，為避免降低發電量，設置所需樓板面積較大。若設定屋頂為斜屋頂時，其設置容量可提高約3成。
        //- sp  相關試算方式請參閱
            a(style='color:red', href='http://www.mrpv.org.tw/information.php?sort_id=31') 系統常見諮詢問題及回覆
  .container
    br
    br
    br
    hr
    center
      h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    br
    include footer

  //- script(src='asset/javascripts/default2.js')
  //- script(src='asset/javascripts/default3-bugs.js')
  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  script(src='asset/javascripts/cal.js')
