doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')

    //- link(rel='icon', href='/Content/AssetsBS3/img/favicon.ico')
    title ASE Intelligent Technology

    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/asset/stylesheets/default.css', rel='stylesheet')


  body
    .navbar-wrapper
      .container
        //- nav.navbar.navbar-default.navbar-static-top(role='navigation')
        nav.navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/home') ASE Intelligent Technology
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | 節能服務
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/LED') 節能照明系統
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | 創能產品
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='/PV') PV 太陽能系統
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#contact', data-toggle='modal', data-target='#contect') 聯絡我們
                li
                  a(href='/ESCO') ESCO 合作模式
                //- li
                //-   a(href='/about') 關於 ASE
    #contect.active.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
      .modal-dialog.modal-md
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h4.modal-title ASE Intelligent Technology
          .modal-body
            .container
            dl.dl-horizontal

              dt
                | Company &nbsp;
                span.glyphicon.glyphicon-tower(aria-hidden="true")
              dd 漢鵬智能科技有限公司 ASE Intelligent Technology

              dt
                | Address &nbsp;
                span.glyphicon.glyphicon-road(aria-hidden="true")
              dd 220 新北市本橋區四川路二段 58 號

              dt
                | T &nbsp;
                span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
              dd +886 2 7738 0560

              dt
                | F &nbsp;
                span.glyphicon.glyphicon-phone-alt(aria-hidden="true")
              dd +886 2 7738 0960

              dt
                | VAT &nbsp;
                span.glyphicon.glyphicon-file(aria-hidden="true")
              dd 54569727

              dt
                | Email &nbsp;
                span.glyphicon.glyphicon-envelope(aria-hidden="true")
              dd
                a(href="mailto:janus_cheng@aseintch.com")  janus_cheng@aseintch.com

              hr

              dt
                | Managing Director &nbsp;
                span.glyphicon.glyphicon-user(aria-hidden="true")
              dd 鄭姚璋 Janux Cheng

              dt
                span.glyphicon.glyphicon-earphone(aria-hidden="true")
              dd 0925-065-762

    block content





