extends container

block content
  style.
    body{
    padding-top: 120px
    }
  .container
    h1.header 新的三個智能頁面
    br
    ul
      li.lead
        a(href="./Smart-energy.html" target='_blank') LIZA 再生能源監測管理
      li.lead
        a(href="./Smart-light.html" target='_blank') In-Light 智慧照明管理
      li.lead
        a(href="./Smart-enterprise.html" target='_blank') Ectuary 企業能源精算師
    hr
    br
    h1.header 新的太陽能試算功能
    ul
      li.lead
        a(href="./cal.html" target='_blank') 太陽能試算
    //- hr
    //- br
    //- h1.header 參考資料
    //- ul
    //-   li.lead
    //-     a(href="http://t-portal.iems.com.tw/index.jsp" target='_blank') In-Snergy (智能資料)
    //-   li.lead
    //-     a(href="http://www.mrpv.org.tw/setting.php" target='_blank') 陽光屋頂百萬講座 (太陽能試算)
  .container
    br
    br
    br
    hr
    center
      h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    br
    include footer

