extends container

block content
  br
  br
  br
  .container
    .row
      .col-md-12
        h2.header ESCO ( Energy Services Company )

  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  script(src='/asset/javascripts/default.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')