extends container

block content
  br
  br
  br
  .container
    .row
      .col-md-12
        h2.featurette-heading 簡介 ESCO ( Energy Services Company )
        h3.text-muted
          | 經濟部商業司定義--能源技術服務業 ( 行業代碼IG03010 )
        p.lead
          | 從事新淨潔能源〔包含太陽能、生質與廢棄功能、地熱、海洋 能、風力、水力〕、節約能源、 提升能源使用效率或抑制移轉尖峰用電負載之設備、
          | 系統及工程之規劃、可性行研究、設 計、安裝、施工、維護、檢測、代操作、相關軟硬體構建及其相關技術服務之行業。
        blockquote
          p.text-primary ESCO 合作模式即是保障能源工程中保障雙方利益與保證的最佳方式。

      .col-md-12
        h2.featurette-heading 節能績效保證型契約 ( ESPC )
        h3.text-muted
          | Energy Saving Performance Contract ( ESPC )
        p.lead
          | 能源技術服務業係以節能績效保證型契約的方式進行節能改善專案。在專案驗收時，ESPC 有助於保障您的節能系統具有相對應的節能效果，
          | 且透過銀行的第三方認證，能保證您獲得與合約相同的節能效果。
        blockquote
          p.text-primary ESPC 確保您在使用 ASE 的節能系統後，能獲得對用的收益，並確保節能的效果與規劃時的數據相同。

      .col-md-12
        h2.featurette-heading ESCO節能與傳統節能專案之差異
        h3.text-muted
          | Energy Saving Performance Contract ( ESPC )
        p.lead
          table.table.table-hover
            thead
              tr
                th
                th ESCO模式( IPMVP )
                th 傳統模式
            tbody
              tr
                td 技術區別
                td 系統整合 ( 含單獨系統 )
                td 單獨系統
              tr
                td 量測與驗證方式
                td 4種 M&V 選項
                  p.text-primary  M&V 與國際接軌
                td 1種計算方式
                  p.text-danger 無調整量
                  p.text-danger 無驗證機制
              tr
                td 基準線訂定
                td
                  p.text-primary 有強制訂定
                td 無強制訂定
              tr
                td 節能量計算方式
                td= '= 基準線耗能量 - 改善後耗能量 ± 調整量'
                td= '= 改善前耗能量 - 改善後耗能量'
              tr
                td 商業模式
                td
                  | 節能效益分享型
                  br
                  | 節能量保證型
                  br
                  | 能源服務託管型
                td 一次驗收解決
              tr
                td 資金取得方式
                td 協助能源用戶取得融資，能源用戶自有資金
                td 能源用戶自有資金
              tr
                td 節能績效 評估結果
                td
                  p.text-primary 受國際認可
                  p.text-success 具有節能量與節能持續性之保證
                td
                  p.text-danger 無保證
                  p.text-danger 部分無法受國際認可
                  p.text-danger 部分無法受國際認可

        blockquote
          p.text-primary ESCO 是 ASE 系統工程中，給您最佳保證的方式。


  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  script(src='/asset/javascripts/default.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')