extends container

block content
  br
  br
  br
  .container
    .row
      .col-md-12
        h2.featurette-heading 簡介 ESCO ( Energy Services Company )
        h3.text-muted
          | 經濟部商業司定義--能源技術服務業 ( 行業代碼IG03010 )
        p.lead
          | 從事新淨潔能源〔包含太陽能、生質與廢棄功能、地熱、海洋 能、風力、水力〕、節約能源、 提升能源使用效率或抑制移轉尖峰用電負載之設備、
          | 系統及工程之規劃、可性行研究、設 計、安裝、施工、維護、檢測、代操作、相關軟硬體構建及其相關技術服務之行業。

        blockquote
          p.text-primary ESCO 合作模式即是保障能源工程中保障雙方利益與保證的最佳方式。


  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  script(src='/asset/javascripts/default.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')