h2.featurette-heading
    | ESCO 合作模式
  h3
    span.text-muted 富有彈性的大型系統合約
  p.lead
    | ASE 透過與銀行第三方保證的方式，與您簽署對雙方都最有保障的合約，分期支付您的工程款項能讓工程系統的效益感受最大化，不必一次支付整筆的工程費用。另外銀行同時監督 ASE 完成合約中的系統工程，保障您能獲得最專業、最完善的 ASE 系統專業規劃。
  a.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" href="/ESCO")
    | 詳細瞭解 ESCO