extends container

block content
  style.
    body{
    padding-top:120px;
    }

  .container
    .row
      - var i = 0
      - for( var col = 0; col < 4; col++)
        - for( ; i < data.length; i++)
          .col-md-3
            - var tmp = data[i]
              .thumbnail
                - if(!tmp.img)
                  img(src='http://ext.pimg.tw/diauchan/49e5a55878b62.jpg', alt='...')
                -else
                  img(src=tmp.img, alt='...')
                .caption
                  h4= tmp.title
                  p(style='height:80px')
                    = tmp.describe
                    //- a.btn.btn-primary.btn-sm(href=tmp.url target="_blank" ) 瞭解更多
    include footer
