footer
  p
    span.glyphicon.glyphicon-envelope(aria-hidden="true")
      | &nbsp;
    | Email：
    a(href="mailto:janus_cheng@aseintch.com")  janus_cheng@aseintch.com
    br
    | Address： 220 新北市本橋區四川路二段 58 號
    br
    | © 2015 ASE intelligent Technology Co. Ltd