
extends container

block content
  //- script(src='/Scripts/AssetsBS3/ie-emulation-modes-warning.js')
  link(href='/asset/stylesheets/home.css', rel='stylesheet')
  //- body
  .site-wrapper
    .site-wrapper-inner(style="padding-top:40px")
      .cover-container
        //- .masthead.clearfix
          //- .inner
          //-   h3.masthead-brand ASE Intelligent Technology
          //-   nav
          //-     ul.nav.masthead-nav
          //-       li.active
          //-         a(href='/home') Home
          //-       li
          //-         a(href='#') 系統工程
          //-       li
          //-         a(href='/ESCO') ESCO 合作模式

        .inner.cover
          h1.cover-heading ASE Intelligent Technology
          p.lead
            | ASE 提供完整的系統規劃與建置服務，分為 節能、創能、智能 與修繕改裝，無論建置全新的電力網系統，配上節能的照明或智能控管，ASE 提空您專業的規劃與系統性的服務。並結合 ESCO 合作模式，讓您更安心、放心，建置專屬的綠色能源系統。
          p.lead
            a.btn.btn-lg.btn-default(href='#') ASE 系統工程
        .mastfoot
          .inner
            include footer.jade
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js', rel='stylesheet')
  link(href='/asset/stylesheets/home.css', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  //- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  //- script(src='/asset/javascripts/doc.min.js')
  //- script(src='/Scripts/AssetsBS3/ie10-viewport-bug-workaround.js')

