extends container

block content
  .jumbotron.bg
    .container
      h1 建置屬於您的智慧家庭環境!
      p ASE提供您 節能、創能、智能以及水電服務
      p
        a.btn.btn-success.btn-lg(href='#', role='button') 瞭解詳情

      .row
        .col-xs-6.col-md-3
          a.thumbnail(href='#')
            img(src='asset/img/buildpower.jpg', height='400px', alt='節能')
        .col-xs-6.col-md-3
          a.thumbnail(href='#')
            img(src='asset/img/buildpower.jpg', alt='創能')
        .col-xs-6.col-md-3
          a.thumbnail(href='#')
            img(src='asset/img/buildpower.jpg', alt='智能')
        .col-xs-6.col-md-3
          a.thumbnail(href='#')
            img(src='asset/img/buildpower.jpg', alt='水電服務')

