extends container

block content

    #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
        li(data-target='#myCarousel', data-slide-to='5')
        li(data-target='#myCarousel', data-slide-to='6')
        li(data-target='#myCarousel', data-slide-to='7')
      .carousel-inner(role='listbox')
        .item.active
          img(src='/asset/img/demo-LED-1.jpg', alt='First slide')
          .container
            //- .carousel-caption
              h1 Example headline.
              p
                | Note: If you're viewing this page via a
                code file://
                |  URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          img(src='/asset/img/demo-LED-2.jpg', alt='Second slide')
          .container
            //- .carousel-caption
              h1 Another example headline.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='/asset/img/demo-LED-3.jpg', alt='Third slide')
          .container
            //- .carousel-caption
              h1 One more for good measure.
              p
                | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
        .item
          img(src='/asset/img/demo-LED-4.jpg', alt='Fourth slide')
          .container
        .item
          img(src='/asset/img/demo-LED-5.jpg', alt='Five slide')
          .container
        .item
          img(src='/asset/img/demo-LED-6.jpg', alt='Six slide')
          .container
        .item
          img(src='/asset/img/demo-LED-7.jpg', alt='Seven slide')
          .container
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only 下一張
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only 上一張
    .container.marketing
      .row
        .col-lg-4
          img.img-circle(src='/asset/img/heading/heading_1.png', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 光學設計
          p
            | 五種投光角度，適應狹窄的穿透光，或是滿足開闊廠房的高均勻照射範圍。省電、耐點滅、光衰保固，不含紫外線及電磁波，更採用 96% 高透光玻璃鏡頭，更優於鏡頭隨時間老化的 PC 或壓克力材質，讓寬闊的開放式空間也能利用單一光源達成無重影。
        .col-lg-4
          img.img-circle(src='/asset/img/heading/heading_2.png', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 散熱設計
          p
            | 專業團隊長達 2 年開發、108 選 1 的最佳解熱技術，完美 PINFIN 比例的弧形散熱片，配上放射狀風洞對流孔。透過 COB 集成技術，完美結合台製晶粒與銅基板，透過散熱鰭片快速揮發，專業的高速散熱效果。
        .col-lg-4
          img.img-circle(src='/asset/img/heading/heading_3.png', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 安心認證
          p
            | 全系列燈具通過 IP66 認證，室內室外皆適用。符合 CNS14115 及 CNS14335，品質有保證。絕對台灣製造、 3 年材料保固，保證 2 年光衰 8% 以下。多重認證與信心保固，提供您最優秀的選擇。
      hr
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | 外型設計
          h3
            span.text-muted 髮絲紋質感，全導角處理
          p.lead
            | 散熱機構效率提升，重量減輕 15~30%。簡潔設計，相當容易維護與只用，大幅降低製造及維修成本。
            | 另外，防水結構採用不鏽鋼 SUS304 支架 / 螺絲 + 矽膠級防水膠條。不鏽鋼經久耐用、絕不生鏽配上高等級防水矽膠，二道防水設計保護。
        .col-md-5
          img.featurette-image.img-responsive(src='/asset/img/body/water.png', alt='產品設計圖')
      hr
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='/asset/img/body/all.png', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | 各種適性規格
          h3
            span.text-muted 選配最適合的投光燈具
          p.lead
            | 25˚：極薄、極亮、IP67 防水，各類型車頭頂照明。
            br
            | 60˚：高穿透性光源，適用於較高或狹窄的環境。
            br
            | 90˚：高均勻度光照，適用於一般高度或開闊的還性。
            br
            | 120˚：大面積照射範圍，適用於中低高度或要求立面亮度的環境。
            br
            | 120˚ * 90˚：特殊廣角設計，滿足光照需求。
          Button.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" aria-label="Left Align")
            span.glyphicon.glyphicon-list-alt(aria-hidden="true")
            |     詳細規格
      hr
      .row.featurette
        br
        .col-md-7
          h2.featurette-heading
            | 專業系統工程
          h3
            span.text-muted 完整系統建置工程
          p.lead
            | ASE 專業系統工程建置完整的系統，除了協助配照明系統本身，包含了完整的
            a(href='#') &nbsp;電力系統&nbsp;
            | 建置，專業並同步系統規劃
            a(href='#') &nbsp;節能&nbsp;
            | 、
            a(href='#') &nbsp;創能&nbsp;
            | 、
            a(href='#') &nbsp;智能&nbsp;
            | 一次大規模的完成整套電網與照明系統，無論是舊式系統改裝、全新的系統建置，ASE 皆有相關專業服務。
        .col-md-5
          img.featurette-image.img-responsive(src='/asset/img/body/demo.png', alt='Generic placeholder image')
      hr
      - var iconSize = 57;
      .row.featurette
        .col-md-12
          center
            - for( var i = 1; i <= 5; i++)
              img.img-circle(src='/asset/img/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
            br
            - for( var i = 1; i <= 9; i++)
              img.img-circle(src='/asset/img/icon/a'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
            br
            br
            h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
      //- .row.featurette
      hr.featurette-divider
      footer
        p
          span.glyphicon.glyphicon-envelope(aria-hidden="true")
          a(href="mailto:janus_cheng@aseintch.com")    janus_cheng@aseintch.com
          br
          | Address： 220 新北市本橋區四川路二段 58 號
          br
          | © 2015 ASE intelligent Technology Co. Ltd

    script(src='/asset/javascripts/default.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    //- script(src='/asset/javascripts/jsBootstrapValidation.js')

    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

    script(src='/asset/javascripts/default2.js')
    script(src='/asset/javascripts/default3-bugs.js')


