extends container

block content
    #myCarousel.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
        li(data-target='#myCarousel', data-slide-to='4')
        //- li(data-target='#myCarousel', data-slide-to='5')
        //- li(data-target='#myCarousel', data-slide-to='6')
        //- li(data-target='#myCarousel', data-slide-to='7')
        //- li(data-target='#myCarousel', data-slide-to='8')
      .carousel-inner(role='listbox')
        .item.active
          img(src='asset/img/pv/demo1.png', alt='First slide')
          .container
            .carousel-caption
              h1 宜蘭竹林國小
              //- p
              //-   | ASE 規劃完整的創能、儲電系統，同時結合了創能太陽能系統並儲電並能賣回給台電。完整自動化運作，提供乾淨的綠色創能，同事亦配上長期穩定的收益。
        .item
          img(src='asset/img/pv/demo2.png', alt='First slide')
          .container
            .carousel-caption
              h1 金門金沙電廠 PV 太陽能板系統
              //- p
              //-   | ASE 規劃完整的創能、儲電系統，同時結合了創能太陽能系統並儲電並能賣回給台電。完整自動化運作，提供乾淨的綠色創能，同事亦配上長期穩定的收益。
        //- .item
        //-   img(src='asset/img/pv/demo3.png', alt='First slide')
        //-   .container
        //-     .carousel-caption
        //-       h1 台南一般住宅太陽能板用戶
        //- .item
        //-   img(src='asset/img/pv/demo04.png', alt='First slide')
        //-   .container
        //-     .carousel-caption
        //-       h1 蘇澳一般住宅太陽能板用戶
        //- .item
        //-   img(src='asset/img/pv/demo05.png', alt='First slide')
        //-   .container
        //-     .carousel-caption
        //-       h1 台南一般住宅太陽能板用戶
        .item
          img(src='asset/img/pv/demo06.png', alt='First slide')
          .container
            .carousel-caption
              h1 台北市士東市場 PV 太陽能系統
        //- .item
        //-   img(src='asset/img/pv/demo07.png', alt='First slide')
        //-   .container
        //-     .carousel-caption
        //-       h1 平溪國小
        .item
          img(src='asset/img/pv/demo08.png', alt='First slide')
          .container
            .carousel-caption
              h1 花蓮 PV 太陽能板用戶
        .item
          img(src='asset/img/pv/demo09.png', alt='First slide')
          .container
            .carousel-caption
              h1 雲林大屯國小
              //- p
              //-   | ASE 規劃完整的創能、儲電系統，無論是大規模的系統建置，或是一般用戶的家庭規模，接有適用的 ASE 系統。
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only 下一張
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only 上一張
    .container.marketing
      .row
        .col-lg-4
          img.img-circle(src='asset/img/pv/ex-03.png', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 適應氣候
          p
            | CNS 11526，SPV系列具有能承受 SPV 3600 Pa 和 BIPV 7200 Pa 抗壓能力，透過系統化規劃建置，能只接與建築物一體成型。完全適應安裝在高溫和多風的地區。
        .col-lg-4
          img.img-circle(src='asset/img/pv/ex-01.jpg', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 特殊防護
          p
            | 鹽霧腐蝕的特殊防護，通過 TÜVIEC 61701 認證，ASE 採用的光伏組件抗鹽和霧腐蝕，配合上高抗風的能力，讓 PV 太陽能面板安裝在沿海地區仍然保持良好的狀態。
        .col-lg-4
          img.img-circle(src='asset/img/pv/ac4.png', alt='Generic placeholder image', style='width:140px;height:140px')
          h2 安心防火
          p
            | 通過 IEC 61215、UL 790 的防火測試，剛效能的太陽能板能產生的直流電高達1000 V，ASE 採用通過嚴格防火測試的組件系統，將風險降至最低。放置在屋頂上承受太陽直射也無須擔心。
      hr
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | 品質保證
          h3
            span.text-muted ASE 除了提供完善的服務，更提供完美的品質。
          p.lead
            | 採用技術龍頭 &nbsp;
            img(src="http://www.inventecenergy.com/images/n-logo.jpg" style="width:90px")
            | &nbsp;太陽能模組，在專業的全無塵產線通過機械的智能篩選，嚴格的四道品質管控，以及全面性的測試，保障 PV 太陽能板的穩定性與效能。
            | 除此之外通過無數的國際認證與無數國際使用個案。
        .col-md-5
          img.featurette-image.img-responsive(src='asset/img/pv/pv1.png', alt='產品設計圖')
      hr
      .row.featurette
        .col-md-5
          br
          br
          br
          img.featurette-image.img-responsive(src='asset/img/pv/pv2.png', alt='Generic placeholder image' style="margin-left:32px")
        .col-md-7
          h2.featurette-heading
            img(src="http://www.inventecenergy.com/images/n-logo.jpg" style="width:150px")
            | &nbsp;&nbsp;業界首選
          h3
            span.text-muted ASE 絕對選用最高品質太陽能模組
          p.lead
            | 擁有 6×10 @ 280Wp 產品認證太陽能模組
            br
            | 擁有 6x12 @ 330Wp模塊，適用於大規模系統建置
            br
            | 高效能 6“ 多晶矽或單晶矽
            br
            | 正公差高達+ 5WP
            br
            | 高強度的風壓 2400 Pa 和 荷重 5400 Pa
            br
            | 由 CHUBB Error and Omission (E&O) 保險投保
          Button.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" aria-label="Left Align" , data-toggle='modal', data-target='#spec')
            span.glyphicon.glyphicon-list-alt(aria-hidden="true")
            |     詳細規格
      hr
      .row.featurette
        br
        .col-md-7
          h2.featurette-heading
            | 專業系統工程
          p.lead
            | ASE 專業系統工程，為您建置完整的系統，除了太陽能發電系統，包含了完整的
            a(href='#') &nbsp;節能服務&nbsp;
            | 建置，專業並同步系統規劃
            a(href='#') &nbsp;綠色能源&nbsp;
            | 、
            a(href='#') &nbsp;智能監控&nbsp;
            | 、
            a(href='#') &nbsp;修繕改裝&nbsp;
            | 一次大規模的完成整套電網與照明系統，無論是舊式系統改裝、全新的系統建置，ASE 皆有相關專業服務。
        .col-md-5
          br
          img.featurette-image.img-responsive(src='asset/img/pv/pic5.png', alt='Generic placeholder image')

      hr
      - var iconSize = 57;
      .row.featurette
        .col-md-12
          center
            - for( var i = 1; i <= 4; i++)
              img.img-circle(src='asset/img/pv/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
            br
            - for( var i = 5; i <= 12; i++)
              img.img-circle(src='asset/img/pv/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
            br
            br
            h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
      //- .row.featurette
      hr.featurette-divider
      include footer.jade
      //- Dialog
      #spec.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
                span.sr-only Close
              h4.modal-title 太陽能板規格參考
            .modal-body
              - var imgWidth = '800px';
              style.
                .pvImg{
                  margin: 0 auto;
                  margin-left: 30px;
                }
              .container
                - var s = 'margin-top:-30px'
                .row
                  h1(style="margin-top:0px") SPV 系列
                  img.pvImg(src='asset/img/pv/spec01.png', alt='', style="max-width:" + imgWidth )
                  h1(style=s) BIPV 系列
                  img.pvImg(src='asset/img/pv/spec02.png', alt='', style="max-width:" + imgWidth )
                  h1(style=s) Black Knight 系列
                  img.pvImg(src='asset/img/pv/spec03.png', alt='', style="max-width:" + imgWidth )

    script(src='asset/javascripts/default.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')
    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    //- script(src='asset/javascripts/jsBootstrapValidation.js')

    //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

    script(src='asset/javascripts/default2.js')
    script(src='asset/javascripts/default3-bugs.js')
