extends container

block content
  .container-fluid
    .row
      - for( var i = 0; i < data.content.length; i++ )
        .col-xs-12.col-sm-6.col-md-3
          .thumbnail
            - var img = { src: data.content[i].img }
            img.img-circle(height='300', width='300', alt='service01')&attributes(img)
            .caption
              h3= data.content[i].title
              p= data.content[i].info
              //- .text-right
              - var url = { href: data.content[i].url }
              p
                a.btn.btn-primary.btn-sm(role='button')&attributes(url)= data.content[i].btnText

