//- Dialog style
style.
  .spec-img{
  max-width: 250px;
  max-height: 250px;
  }
  .spec{
  width: 80%;
  }

//- Dialog
#spec-outlet.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title 智慧插座設備
      .modal-body
        center
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/outlet.png', alt='Generic placeholder image')
          h3.header 智慧單插座
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/outlet-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/outlets.png', alt='Generic placeholder image')
          h3.header 智慧排插座
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/outlets-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          //- img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/control.png', alt='Generic placeholder image')
          //- h3.header 無線迷你閘道器
          //- br
          //- img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/control-spec.png', alt='Generic placeholder image')
          //- hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/global.png', alt='Generic placeholder image')
          h3.header 萬國行智慧插座
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-home/global-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          br
          br
#spec-scaner.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title 智慧感測器
      .modal-body
        center
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/co.png', alt='Generic placeholder image')
          h3.header 智能一氧化碳感測器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/co-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/co2.png', alt='Generic placeholder image')
          h3.header 智能二氧化碳感測器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/co2-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/wet.png', alt='Generic placeholder image')
          h3.header 智能濕度感測器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/wet-spec.png', alt='Generic placeholder image')
          hr.featurette-divider

#spec-server.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title 智能伺服器/閘道器
      .modal-body
        center
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/gateway.png', alt='Generic placeholder image')
          h3.header 智能多功能閘道器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/gateway-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/light-gateway.png', alt='light-gateway')
          h3.header 無線迷你閘道器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/light-gateway-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/green-gateway.png', alt='green-gateway')
          h3.header 綠能閘道器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/green-gateway-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/light-server.png', alt='light-server')
          h3.header 微型伺服器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/light-server-spec.png', alt='Generic placeholder image')
          hr.featurette-divider

#spec-power.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title 智能電力監測
      .modal-body
        center
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader1.png', alt='Generic placeholder image')
          h3.header 三相遙讀型電力監測計
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader1-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader2.png', alt='Generic placeholder image')
          h3.header 三相盤面型電力監測計
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader2-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader3.png', alt='Generic placeholder image')
          h3.header 多迴路電力監測計
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader3-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          //- 單三 和 多迴 的圖片原聲就是相同的
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader3.png', alt='Generic placeholder image')
          h3.header 單三相多迴路電力監測器
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/powerReader4-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/power-smart.png', alt='Generic placeholder image')
          h3.header 雲端智能電力計
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/power-smart-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
          img.spec-img.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/power-cut.png', alt='Generic placeholder image')
          h3.header 斷路器型電錶
          br
          img.spec.featurette-image.img-responsive(src='asset/img/Smart/Smart-enterprice/power-cut-spec.png', alt='Generic placeholder image')
          hr.featurette-divider
