Button.btn.btn-success.btn.pull-right(style="margin-right:80px" aria-label="Left Align" , data-toggle='modal', data-target='#spec-outlet')
  span.glyphicon.glyphicon-list-alt(aria-hidden="true")
  |     智能插座
Button.btn.btn-success.btn.pull-right(style="margin-right:20px" aria-label="Left Align" , data-toggle='modal', data-target='#spec-scaner')
  span.glyphicon.glyphicon-list-alt(aria-hidden="true")
  |     智能感測器
Button.btn.btn-success.btn.pull-right(style="margin-right:20px" aria-label="Left Align" , data-toggle='modal', data-target='#spec-server')
  span.glyphicon.glyphicon-list-alt(aria-hidden="true")
  |     智能伺服器/閘道器
Button.btn.btn-success.btn.pull-right(style="margin-right:20px" aria-label="Left Align" , data-toggle='modal', data-target='#spec-power')
  span.glyphicon.glyphicon-list-alt(aria-hidden="true")
  |     智能電力監測