extends container

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    .carousel-inner(role='listbox')
      .item.active
        img(src='asset/img/Smart/Smart-enterprice/show.png', alt='First slide')
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='asset/img/Smart/enterprice/need.png', alt='Generic placeholder image', style='width:140px;height:140px;border-radius:0;')
        h2 需量控制
        p
          | 此功能可對電力、照明、空調等設備進行監控，提供多種類需量預測演算法來預測需量變化，且系統會自動為使用者選擇誤差率較低的演算法，
          | 使需量預測更精確。系統亦可隨時依照電量狀況做尖離峰用電量的調配，並於能耗接近契約容量時進行循環式卸載，以避免超約罰款發生，減少電費支出。
      .col-lg-4
        img.img-circle(src='asset/img/Smart/enterprice/together.png', alt='Generic placeholder image', style='width:140px;height:140px;border-radius:0;')
        h2 集團式集中管理
        p
          | 多場域的能源管理時常無法達到即時且高效率的管理。此功能可使用一帳號即可透過雲端平台一次針對跨場域、跨國進行集中管理，不受限於時間、地點，管理者在任何地方皆可隨時登入系統平台，以了解各場域、國家即時的設備運作狀況、即時及歷史耗電量，亦可進行遠端的排程設定或其他控制。
      .col-lg-4
        img.img-circle(src='asset/img/Smart/enterprice/loop.png', alt='Generic placeholder image', style='width:140px;height:140px; border-radius:0')
        h2 迴路辨識
        p
          | 蒐集各迴路的電力資訊，往往需龐大的建置成本，此功能利用專利演算法，識別設備的使用行為與模式，辨識準確度達九成，除可大幅節約建置成本外，亦可協助管理者隨時掌握迴路上各類設備的用電占比。
    hr
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | 企業級的管理系統
        h3
          span.text-muted 集團式集中管理
        p.lead
          | 多場域的能源管理時常無法達到即時且高效率的管理。此功能可使用一帳號即可透過雲端平台一次針對跨場域、跨國進行集中管理，不受限於時間、地點，管理者在任何地方皆可隨時登入系統平台，以了解各場域、
          | 國家即時的設備運作狀況、即時及歷史耗電量，亦可進行遠端的排程設定或其他控制，使企業在進行大場域的能源管理更有效率。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/Smart/enterprice/sys.png', alt='產品設計圖')
    hr
    .row.featurette
      .col-md-5
        br
        br
        img.featurette-image.img-responsive(src='asset/img/Smart/enterprice/smart.png', alt='Generic placeholder image')
      .col-md-7
        h2.featurette-heading
          | 智能管理系統
        h3
          span.text-muted 專家診斷、智能管理
        p.lead
          | 契約容量是否最適可直接影響企業每月的固定電費，此功能可將蒐集到的用電資訊，經由智慧化分析，演算出最適的多種不同電價結構及相對應用電成本，以建議出最佳契約容量。
          | 可將系統與現有設備進行整合，透過建置各式感測器、電力計，分析設備運作效率是否達標準、並對設備效能做調整或建議汰換，以提升設備的運作效率並降低企業的營運成本。
          br
          br
          include smart-all-btn
          br
    hr
    .row.featurette
      br
      .col-md-7
        h2.featurette-heading
          | 企業能源精算師
        p.lead
          | ASE 完整的企業能源精算師系統建置服務，另外更包括
          a(href='LED.html') &nbsp;節能服務&nbsp;
          | 、
          a(href='PV.html') &nbsp;綠色能源&nbsp;
          | 、
          a(href='Smart-enterprice.html') &nbsp;智能監控&nbsp;
          | 、
          a(href='Fix-all.html') &nbsp;修繕改裝&nbsp;
          | 四大服務範疇，依照不同的需求，一次性地為您量身訂做完整的能源管理系統，無論是舊式系統改裝、全新的系統建置，ASE 皆有相關的專業服務。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/Smart/service.png', alt='Generic placeholder image')
    hr
    center
      h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    br
    include footer
    include smart-all-dialog

  script(src='asset/javascripts/default2.js')
  script(src='asset/javascripts/default3-bugs.js')
