extends container

block content
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner(role='listbox')
      .item.active
        img(src='asset/img/demo-LED-1.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 LED天井燈 60W 6米設備製造廠
            //- p
            //-   | ASE 提供完整的節能照明系統規劃，滿足不同需求的的系統設計。
              //- | ASE 規劃完整的創能、節能照明系統。ASE 專業客製化的系統設計。
      //- .item
      //-   img(src='asset/img/demo-LED-3.jpg', alt='Third slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 150W 13米機械加工廠
      //-       //- p
      //-       //-   | ASE 能照亮高達 13 米高的廠房空間，充足且節能的光源無煩惱。
      //- .item
      //-   img(src='asset/img/demo-LED-4.jpg', alt='Fourth slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 80W 8米倉庫
      //-       //- p
      //-       //-   | 高均勻度光照實例，完整照明無重影，舒服且明亮的投光。
      //- .item
      //-   img(src='asset/img/demo-LED-5.jpg', alt='Five slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED路燈 100W 8米道路照明
      //-       //- p
      //-       //-   | ASE 擁有完全開放空間的照明系統建置經驗，你們的廠房空間大小為何，ASE 都能為您量身定做節能投光系統。
      //- .item
      //-   img(src='asset/img/demo-LED-6.jpg', alt='Six slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 150W 13米機械加工廠
            //- P ASE 能大批量的節能 LED 系統規劃，同時規劃節能、創能與照明。
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only 下一張
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only 上一張
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_1.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 雲端服務
        p
          | 利用雲端的即時連線系統，讓您感受真的正科技智能生活，透過行動裝置/手機可操控智慧家庭中的各類電器產品！其中包括出門忘記關的電視，夏天回家前先開冷氣，
          | 在早上睡醒前幫您煮好咖啡... 透過雲端，隨心所欲、隨時隨地的長空您的生活瑣事。
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_2.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 即時監控
        p
          | 即時監控家中的每個智慧家電，長空家中所有的電器使用資訊，了解耗電量等等。監控並保護家中用電狀況、自動切屋但過載的電源，監視任何不正常使用的電量，
          | 家中一氧化碳或二氧化碳的濃度，甚至監控家中魚缸的生態維持系統！
      .col-lg-4
        img.img-circle(src='asset/img/heading/heading_3.png', alt='Generic placeholder image', style='width:140px;height:140px')
        h2 完整家用系統
        p
          | 利用 QR code 即可輕鬆的分享資訊給家中的成員，在家用的 App 系統上，並沒有複雜或高難度的介面，快速且低成本的分享，讓大家都能對家中的用電狀況相當了解，
          | 並各自盡一份心力！
    hr
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | 廣泛的應用領域
        h3
          span.text-muted 滿足不同族群和使用的需求
        p.lead
          | 依據不同的生活型態、族群，智能系統有不同的方案滿足您的需求，諸如：家庭個人、公司企業機構、建案/裝潢業者、民宿/社區大樓、開發人員...等等。
          | 不同的使用場合 ASE Intech 提供您不同的方案，讓系統完整的嵌入在您的生活中。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/body/water.png', alt='產品設計圖')
    hr
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/body/all.png', alt='Generic placeholder image')
      .col-md-7
        h2.featurette-heading
          | 廣泛的應用領域
        h3
          span.text-muted 滿足不同族群和使用的需求
        p.lead
          | 依據不同的生活型態、族群，智能系統有不同的方案滿足您的需求，諸如：家庭個人、公司企業機構、建案/裝潢業者、民宿/社區大樓、開發人員...等等。
          | 不同的使用場合 ASE Intech 提供您不同的方案，讓系統完整的嵌入在您的生活中。
    hr
    .row.featurette
      include system-left
    hr
    .row.featurette
      br
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/ESCO/story.png', alt='Generic placeholder image')
      .col-md-7
        include ESCO-story.jade
    hr
    - var iconSize = 57;
    .row.featurette
      .col-md-12
        center
          - for( var i = 1; i <= 5; i++)
            img.img-circle(src='asset/img/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          br
          - for( var i = 1; i <= 9; i++)
            img.img-circle(src='asset/img/icon/a'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          br
          br
          h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    //- .row.featurette
    hr.featurette-divider
    include footer

  script(src='asset/javascripts/default2.js')
  script(src='asset/javascripts/default3-bugs.js')
