extends container

block content
  //- #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner(role='listbox')
      .item.active
        img(src='asset/img/demo-LED-1.jpg', alt='First slide')
        .container
          .carousel-caption
            h1 LED天井燈 60W 6米設備製造廠
            //- p
            //-   | ASE 提供完整的節能照明系統規劃，滿足不同需求的的系統設計。
              //- | ASE 規劃完整的創能、節能照明系統。ASE 專業客製化的系統設計。
      //- .item
      //-   img(src='asset/img/demo-LED-3.jpg', alt='Third slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 150W 13米機械加工廠
      //-       //- p
      //-       //-   | ASE 能照亮高達 13 米高的廠房空間，充足且節能的光源無煩惱。
      //- .item
      //-   img(src='asset/img/demo-LED-4.jpg', alt='Fourth slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 80W 8米倉庫
      //-       //- p
      //-       //-   | 高均勻度光照實例，完整照明無重影，舒服且明亮的投光。
      //- .item
      //-   img(src='asset/img/demo-LED-5.jpg', alt='Five slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED路燈 100W 8米道路照明
      //-       //- p
      //-       //-   | ASE 擁有完全開放空間的照明系統建置經驗，你們的廠房空間大小為何，ASE 都能為您量身定做節能投光系統。
      //- .item
      //-   img(src='asset/img/demo-LED-6.jpg', alt='Six slide')
      //-   .container
      //-     .carousel-caption
      //-       h1 LED天井燈 150W 13米機械加工廠
            //- P ASE 能大批量的節能 LED 系統規劃，同時規劃節能、創能與照明。
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only 下一張
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only 上一張
  style.
    body{
    padding-top: 120px
    }
  .container.marketing
    .row
      .col-lg-4
        img.img-circle(src='asset/img/Smart/light/monitor.png', alt='Generic placeholder image', style='width:140px;height:140px;border-radius:0;')
        h2 即時監控
        p
          | 記錄路燈各元件健康狀態，包含路燈資訊(網路連線、開關正常、即時診斷、診斷說明)、電壓、電流、功率、電力品質(PF值)等。 系統上可即時顯示異常事件，並分析說明異常原因，讓使用者清楚了解故障事件。
      .col-lg-4
        img.img-circle(src='asset/img/Smart/light/cal.png', alt='Generic placeholder image', style='width:140px;height:140px;border-radius:0;')
        h2 統計資訊
        p
          | 統計日、周、月、年的用電資訊，並可設定與往年同期用電量之比較，顯示使用時數與故障的統計資料及原因，找出最容易故障的設備、區域及節能指標。
      .col-lg-4
        img.img-circle(src='asset/img/Smart/light/smart.png', alt='Generic placeholder image', style='width:140px;height:140px; border-radius:0')
        h2 智能管理
        p
          | 不同一般規則設定，提供全方位診斷方式，系統主動分析電力資料，隨時發現一般使用者未能注意事件，並進行即時通知。
          | 可導入既有之監控介面如 Google Map、BingMap、Open Street Map、ArcGIS 等四種以上地圖資料庫，使用者可輕鬆依照需求進行設置。
    hr
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | 簡易的入門門檻
        h3
          span.text-muted 相容性高、低成本
        p.lead
          | 硬體安裝簡易，100% 不影響既有的運作環境。In-Light 智慧照明系統能夠建立於既有的路燈上，無需多餘的拆除、安裝工程就能無縫接軌、迅速上線。
          | 以迴路方式進行管理，大幅降低設備與安裝成本！假以十二迴路電表為例進行安裝，每條迴路至多可介接5～20盞路燈，透過單一電表、單一介面即能輕鬆管理240盞路燈，既有效率又省成本。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/Smart/light/easy.png', alt='產品設計圖')
    hr
    .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/Smart/light/watch.png', alt='Generic placeholder image')
      .col-md-7
        h2.featurette-heading
          | 監測管理狀況
        h3
          span.text-muted 操作容易、即時處理、彈性控制
        p.lead
          | In-Light 智慧照明系統提供一個更即時、更快速的路燈開關方式，管理者能夠透過網路隨時進行路燈操作，不分南北、不分國家，整個世界都是你的中控室。
          | 另外 In-Light 智慧照明系統的「彈性自動開關」功能，讓您即使在沒有網路、沒有電腦的環境下路燈也能自動完成開關，能敏捷配合世界熄燈日(Earth Hour)、日光節約(Summer Time) 等活動。
          //- br
          //- br
          //- Button.btn.btn-success.btn-lg.pull-right(style="margin-right:80px" aria-label="Left Align" , data-toggle='modal', data-target='#spec2')
          //-   span.glyphicon.glyphicon-list-alt(aria-hidden="true")
          //-   | 詳細種類
    hr
    .row.featurette
      br
      .col-md-7
        h2.featurette-heading
          | 智慧照明系統工程服務
        p.lead
          | ASE 智能照明系統工程服務，除了提供智慧照明的管理設備，還包含了完整的
          a(href='LED.html') &nbsp;節能服務&nbsp;
          | 、
          a(href='PV.html') &nbsp;綠色能源&nbsp;
          | 、
          a(href='Smart.html') &nbsp;智能監控&nbsp;
          | 、
          a(href='Fix.html') &nbsp;修繕改裝&nbsp;
          | 四大服務範疇，依照不同的需求，一次性地為您量身訂做完整的能源管理系統，無論是舊式系統改裝、全新的系統建置，ASE 皆有相關的專業服務。
      .col-md-5
        img.featurette-image.img-responsive(src='asset/img/Smart/service.png', alt='Generic placeholder image')
    hr
    //- - var iconSize = 57;
    //- .row.featurette
      .col-md-12
        center
          //- - for( var i = 1; i <= 5; i++)
          //-   img.img-circle(src='asset/img/icon/'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          //- br
          //- - for( var i = 1; i <= 9; i++)
          //-   img.img-circle(src='asset/img/icon/a'+i+'.png', alt='', style='width:'+iconSize+'px;height:'+iconSize+'px;margin:3px')
          //- br
          //- br
    //- .row.featurette
    //- hr.featurette-divider
    center
      h4 漢鵬科技 • 高品質 • 專業規劃 • 系統工程
    br
    include footer

  script(src='asset/javascripts/default2.js')
  script(src='asset/javascripts/default3-bugs.js')
