extends container

block content
  .container
    .row
      .col-md-1
      .col-md-10
        style.
          body{
          background-color: #CECECE;
          padding-top: 120px
          }
          iframe{
          width: 100%;
          height: 600px;
          }
        iframe(src="http://mrpv.org.tw/uploads/images/1040126_%E6%B5%81%E7%A8%8B%E5%9C%96.png", frameborder="0")
        hr
        iframe(src="http://mrpv.org.tw/uploads/images/progress-03.png", frameborder="0")


  script(src='asset/javascripts/default.js')
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='https://code.jquery.com/jquery-1.11.1.min.js')
  //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  //- script(src='asset/javascripts/jsBootstrapValidation.js')

  //- link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")

  script(src='asset/javascripts/default2.js')
  script(src='asset/javascripts/default3-bugs.js')
