/* line 1, ../sass/cal_led.sass */
.setting {
  margin: 0 auto;
  width: 866px;
}

/* line 5, ../sass/cal_led.sass */
.setting_send {
  margin: 0 auto;
  width: 866px;
  height: 185px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

/* line 12, ../sass/cal_led.sass */
ul {
  list-style: none !important;
}

/* line 15, ../sass/cal_led.sass */
.setting_send ul {
  height: 40px;
  margin: 5px 5px 0 5px;
}

/* line 21, ../sass/cal_led.sass */
.setting_send li {
  float: left;
  line-height: 40px;
  text-align: center;
  margin-left: 0px;
}

/* line 28, ../sass/cal_led.sass */
.setting_send .setting_send_01 {
  width: 215px;
  text-align: left;
  padding-left: 5px;
}

/* line 34, ../sass/cal_led.sass */
.setting_send input {
  float: right;
}

/* line 37, ../sass/cal_led.sass */
.setting_send_02 input, .setting_send select {
  position: relative;
  font-size: 14px;
  width: 170px;
  height: 31px;
  line-height: 24px;
  border: 1px solid #bbb;
  margin-left: 5px;
}

/* line 47, ../sass/cal_led.sass */
.setting_send_02 input {
  margin-top: 3px;
}

/* line 50, ../sass/cal_led.sass */
.setting_send_02 {
  margin-left: 50px;
}

/* line 53, ../sass/cal_led.sass */
.setting_send_03 {
  margin-left: 5px;
}

/* line 56, ../sass/cal_led.sass */
.setting_send_03 input {
  margin-top: 3px;
  margin-left: 5px;
  height: 31px;
  line-height: 24px;
  border: 1px solid #bbb;
  width: 70px;
  display: none;
  float: left;
}

/* line 66, ../sass/cal_led.sass */
.setting_send_03 span {
  float: left;
  color: #60452E;
  margin-left: 5px;
  display: none;
}

/* line 72, ../sass/cal_led.sass */
.setting_result li {
  font-size: 16px;
  line-height: 30px;
}

/* line 76, ../sass/cal_led.sass */
.setting_result input {
  width: 120px;
  text-align: right;
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0 !important;
  filter: Alpha(opacity=50);
  background: #fff;
  border-bottom: 1px solid #aaa;
}

/* line 84, ../sass/cal_led.sass */
.show li {
  margin-top: 8px;
}

/* line 87, ../sass/cal_led.sass */
.show input {
  margin-left: 2px;
  margin-right: 2px;
}

/* line 91, ../sass/cal_led.sass */
.ctrl-show {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
